<ion-grid *ngIf="contasreceber != null">
  <ion-row>
    <ion-col padding
      *ngFor="let conta of contasreceber; trackBy:trackItems"
      size="12">
      <ion-item button detail="true" (click)="presentAlert()">
        <ion-label>
          <h3>Cliente: {{conta.cliente}}</h3>
          <p>Valor: R${{conta.valor}},00</p>
          <p>Data de Vencimento: {{conta.dtVenc | date}}</p>
          <p>CNPJ: {{conta.cgc}}</p>
        </ion-label>
      </ion-item>

    </ion-col>
  </ion-row>
</ion-grid>
