<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contas a Receber
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="tertiary">
      <ion-title size="large">Contas a Receber</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-text-center">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>Títulos a receber</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Ler código de barras da nota fiscal
      </ion-card-content>

      <ion-button fill="clear" color="primary" (click)="scan()">
        <ion-icon name="scan-outline" slot="start"></ion-icon>
        Escanear
      </ion-button>
    </ion-card>
  </div>

</ion-content>
