<ion-header [translucent]="true" *ngIf="!scanActive">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contas a Receber
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" *ngIf="!scanActive">
    <ion-toolbar color="tertiary">
      <ion-title size="large">Contas a Receber</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-margin-bottom" *ngIf="!scanActive">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Títulos a receber</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Ler código de barras da nota fiscal
      </ion-card-content>

      <ion-button fill="clear" (click)="startScan()">
        <ion-icon name="scan-outline" slot="start"></ion-icon>
        Escanear
      </ion-button>
    </ion-card>

    <ion-text *ngIf="!scanActive && result != null" color="dark">
      <p class="ion-text-center">Mostrando
        títulos com a
        nota fiscal: {{result}}</p>
    </ion-text>
  </div>
  <!--  *ngIf="!scanActive && result != null"  -->
  <app-contas [notaFiscal]="result"></app-contas>
  <!-- Só aparece quando o escaner estiver ativo -->
  <div class="box scan-box" *ngIf="scanActive"></div>
  <ion-button class="stop-button" color="secondary" shape="round"
    *ngIf="scanActive"
    (click)="stopScan()">
    <ion-icon name="stop-outline" slot="start"></ion-icon>
    Parar
  </ion-button>

</ion-content>
